@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: 'Varela Round', sans-serif;
}

h5 {
    font-size: 45px;
}

p {
    font-size: 20px;
}

li {
    list-style: none;
}

/* Slideshow */
.carousel-inner {
    width: 100%;
    height: 100%;
}
.carousel-caption {
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10%;
    display: block;
}


.carousel-caption p {
    font-size: 20px;
}

.c-btn-first{
    background-color: #8c8f8d;
}

.c-btn-first:hover {
    background-color: #dce0dd;
    transition: 0.7s;
    color: #000 !important;
}

.custom-c-btn {
    padding: 10px 26px;
}

.btn-space {
    margin-right: 17px;
}

.carousel-buttons .btn-outline-light:hover {
    color: #000 !important;
}

/* portfolio */
.portfolio {
    width: 100%;
}

.pf-title {
    text-align: center;
    padding-top: 20px;
}

.pf-title h6 {
    color: grey;
}

.portfolio img {
    margin-right: 0px;
    margin-top: 20px;
}

/* About me */
.about {
    padding-top: 100px;
    color: #fff;
}

.cus-div {
    width: 100%;
    position: relative;
}

#skew {
    background-color: black;
    z-index: 9;
}

.cus-div:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    bottom: 0;
    content: '';
}

#skew:after {
    transform-origin: left bottom;
    transform: skewY(3deg);
    transform: skewY(-3deg);
}

.content {
    text-align: center;
    overflow: hidden;
    display: block;
    height: 300px;
}

.about-parallax {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin: 0;
    padding: 0;
}

/* Footer */
.footer{
    width: 100%;
    padding-top: 40px;
}

.footer-icon {
    margin-top: 20px;
    padding-left: 40px;
    font-size: 30px !important;
}

.social {
    color: #000;
}
.social:hover {
    color: #8c8f8d;
    transition: 0.6s;
}

.contact a {
    color: black;
    font-size: 20px;
}

.contact i {
    padding-top: 20px;
    padding-left: 10px;
}

.copy-ilai {
    float: left;
}

/* Responsive */
@media screen and (max-width: 800px) {
    .navbar-custom .nav-link:focus {
    color: #b4d4eb !important;
    }
    
    .carousel-caption{
        margin-bottom: 25%;
    }
    .carousel-caption h5 {
        font-size: 23px;
    }
    .carousel-buttons .c-btn-first:focus{
        background-color: #e6f6ff !important;
        transition: 0s;
        color: #000 !important;
    }
    .btn-space { 
        margin-right: 0px;
    }
    .carousel-buttons .btn-outline-light:hover {
        transition: 0s !important;
    }
    
    .responsive-img {
        width: 70px;
        height: 150px;
    }
    
    .about-parallax {
        height: 150px;
    }
    
    .about {
        padding-top: 40px;
    }
    
    .about-parallax {
        height: 400px;
    }
    
    .open {
        padding-top: 20px;
    }
    
    iframe {
        width: 300px;
    }
    
    .map {
        padding-top: 20px;
    }
    
    .contact {
        padding-top: 20px;
    }
    
    .copyrights {
        padding-top: 20px;
    }

}

@media screen and (max-width: 740px) {
    .carousel-caption {
        margin-bottom: 15%;
    }
    .btn-space {
        margin-top: 18px;
    }
}
